<app-header></app-header>
@if(authService.isAuthenticated$ | async) {
<app-user-dashboard class="w-full"></app-user-dashboard>
} @else {
<section class="bg-white raleway-regular container mx-auto h-full px-4 py-8 ">
  <div class="bg-white p-8 relative overflow-hidden flex flex-col h-5/6">
    <div class="max-w-3xl">
      <div class="flex items-center mb-4">
        <div class="flex -space-x-2 mr-4">
          <img src="../../../assets/images/logo.png" class="w-8 h-8 rounded-full border-2 border-white" alt="User avatar">
          <img src="../../../assets/images/logo.png" class="w-8 h-8 rounded-full border-2 border-white" alt="User avatar">
          <img src="../../../assets/images/logo.png" class="w-8 h-8 rounded-full border-2 border-white" alt="User avatar">
          <img src="../../../assets/images/logo.png" class="w-8 h-8 rounded-full border-2 border-white" alt="User avatar">
          <img src="../../../assets/images/logo.png" class="w-8 h-8 rounded-full border-2 border-white" alt="User avatar">
        </div>
        <div class="flex items-center">
          <div class="flex text-yellow-400">
            <svg *ngFor="let i of [1,2,3,4,5]" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/>
            </svg>
          </div>
          <span class="ml-2 text-gray-600 text-sm">5.0</span>
          <span class="ml-2 text-gray-400 text-sm">from 200+ reviews</span>
        </div>
      </div>
      
      <h1 class="text-5xl font-bold text-green-900 mb-4">Explore the Path<br>of Balance</h1>
      <p class="text-gray-600 mb-8">
        Let yourself be enveloped in a gentle harmony where yoga, well-being and a caring diet come together.
      </p>
      
      <button class="bg-green-900 text-white px-6 py-3 rounded-full flex items-center">
        Start your journey
        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
        </svg>
      </button>
    </div>
    
    <div class="absolute right-0 top-0 w-1/2 h-3/6">
      <div class="absolute right-0  w-fullbg-green-600 transform skew-x-12 origin-bottom-right"></div>
      <img src="../../../assets/images/yoga.jpg" alt="Yoga pose" class="absolute right-0 bottom-0 w-full h-3/4 object-cover object-left">
    </div>
    <div #marqueeContainer class="marquee absolute bottom-0 left-0 right-0 bg-blue h-20 flex items-center mt-24 rounded-full justify-around">
    <div #marqueeContent class="marquee__content">
      <img src="../../../assets/images/logo.png" alt="flowthesun" class="h-6">
      <img src="../../../assets/images/logo.png" alt="Framer" class="h-6">
      <img src="../../../assets/images/logo.png" alt="flowthesun" class="h-6">
      <img src="../../../assets/images/logo.png" alt="Framer" class="h-6">
      <img src="../../../assets/images/logo.png" alt="flowthesun" class="h-6">
    </div>
  </div>
  </div>
  <!-- <div class="bg-gray-100 pb-5">
    <div class="mx-auto px-4">
      <h1 class="text-4xl font-bold mb-8 text-center raleway-regular">
        FIND WHAT MOVES YOU
      </h1>
      <p class="text-lg mb-8 text-center">
        Whether you're a complete beginner or you want to step up your routine,
        get the full studio experience at home with thousands of classes for
        body, mind, and spirit.
      </p>
      <div class="flex overflow-x-auto no-scrollbar h-[400px]">
        @for (class of classes; track class){
        <div
          class="bg-white rounded-lg shadow-md flex-none w-60 mr-4 pb-2 h-[360px]"
        >
          <img
            [src]="class.image"
            alt="Fitness"
            class="w-full h-[160px] object-cover rounded-t-lg"
          />
          <h2 class="text-2xl font-bold my-2 px-2">{{ class.title }}</h2>
          <p class="text-gray-600 mb-4 px-2">{{ class.description }}</p>
          <a [href]="class.link" class="text-blue-500 hover:text-blue-700 px-2"
            >Learn More</a
          >
        </div>
        }
      </div>
    </div>
  </div>
  <div class="bg-gray-100 pb-5">
    <div class="mx-auto px-4">
      <h1 class="text-4xl font-bold mb-8 text-center">MEET YOUR INSTRUCTORS</h1>
      <p class="text-lg mb-8 text-center">
        We work with the best so you can feel your best. Our team of top
        instructors will empower you to reach all your fitness and wellness
        goals and enjoy the journey on the way.
      </p>
      <button
        class="py-2 px-4 w-full mb-8 border border-black text-black rounded-md hover:bg-black hover:text-white"
        (click)="navigateToInstructors()"
      >
        VIEW INSTRUCTORS
      </button>
      <div class="flex overflow-x-auto no-scrollbar h-[400px]">
        @for (instructor of instructors; track instructor){
        <div
          class="bg-white rounded-lg shadow-md text-center cursor-pointer flex-none w-60 mr-4 pb-2 h-[260px]"
        >
          <img
            [src]="'../../../assets/images/yoga.jpg'"
            alt="Fitness"
            class="w-full h-[160px] object-cover rounded-t-lg"
          />
          <h2 class="text-2xl font-bold my-2 px-2">
            {{ instructor.firstname }}
          </h2>
          <p class="text-gray-600 mb-4 px-2">{{ instructor.lastname }}</p>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="relative">
    <img
      [src]="backgroundImageUrl"
      alt="Background Image"
      class="w-full h-[400px] object-cover"
    />
    <div class="inset-0 flex items-center justify-center">
      <div class="text-center px-10">
        <h1 class="text-4xl font-bold my-4 drop-shadow-md">
          TRANSFORM YOUR LIFE IN 30 DAYS
        </h1>
        <p class="mb-8">
          Get started today with free access to thousands of fitness and
          wellness classes.
        </p>
        <button
          class="bg-black py-3 px-6 text-white rounded-full hover:bg-gray-800 transition duration-300"
        >
          START YOUR FREE TRIAL
        </button>
      </div>
    </div>
  </div> -->
</section>
<section class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div>
      <h2 class="text-green-600 font-semibold mb-2 text-blue">OUR SERVICES</h2>
      <h1 class="text-2xl font-bold mb-4 text-strongBrown">
        Our services for a healthy body
      </h1>
      <p class="text-gray-600 text-sm text-strongBrown">
        Explore the ancient heritage of yoga through our classes, which are
        accessible to all levels and accompanied by a balanced diet.
      </p>
    </div>
    @for (service of services; track $index) {
    <div
      [ngClass]="{
        'bg-gray-100': !service.special,
        'bg-purple-100': service.special
      }"
      class="rounded-lg overflow-hidden relative group"
    >
      <img
        [src]="service.image"
        [alt]="service.title"
        class="w-full h-48 object-cover transition duration-300 ease-in-out transform hover:scale-125 cursor-pointer"
      />
      <div class="">
        <button class="group-hover:block absolute bottom-3 right-14 bg-blue text-white px-4 py-3 rounded-full flex items-center">
          See More
        </button>
        <div class="rounded-full border-blue border-4 absolute bottom-4 right-4 ml-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 bg-lightBrown rounded-full" viewBox="0 0 20 20" fill="white">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
  
      </div>
        <h3
          class="text-xl text-white z-20 font-semibold absolute -translate-x-2/4 -translate-y-1/2 top-1/2 left-2/4"
        >
          {{ service.title }}
        </h3>
      </div>
    </div>
    }
  </div>
</section>
<section class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div>
      <h2 class="text-green-600 font-semibold mb-2 text-blue">OUR BLOG</h2>
      <h1 class="text-2xl font-bold mb-4 text-strongBrown">
        CHECK OUT OUR BLOG
      </h1>
      <p class="text-gray-600 text-sm text-strongBrown">
        Weekly inspiration for mindful living. Discover yoga sequences, short
        workouts, recipes, and mindfulness tips from the experts.
      </p>
    </div>
    @for (blog of blogs | slice:0:5; track blog) {
    <div class="rounded-lg overflow-hidden relative">
      <img
        [src]="'../../../assets/images/yoga.jpg'"
        [alt]=""
        class="w-full h-48 object-cover transition duration-300 ease-in-out transform hover:scale-125 cursor-pointer"
      />
      <div class="">
        <h3
          class="text-xl text-white z-20 font-semibold absolute -translate-x-2/4 -translate-y-1/2 top-1/2 left-2/4"
        >
          {{ blog.title }}
        </h3>
      </div>
    </div>
    }
  </div>
</section>
<app-news-and-blogs></app-news-and-blogs>
<app-pricing-plan></app-pricing-plan>
<app-banner [title]="'A better path to a healthy life'" [description]="'Discover the transformative power of yoga: Strengthen your body & calm your mind.'"></app-banner>
}
<app-footer></app-footer>
