<app-header></app-header>
<section class="bg-white h-screen">
    <div class="flex flex-col items-center justify-center h-screen">
        <div class="text-center">
          <img src="../../../assets/images/yoga.jpg" alt="Welcome to your wellness era" class="mb-4">
          <h1 class="text-2xl font-bold mb-2">WELCOME TO YOUR WELLNESS ERA</h1>
          <p class="mb-4">Prioritize your wellness goals with award-winning fitness, meditation, nutrition, and self-care classes on Alo Moves.</p>
          <button class="bg-black text-white py-2 px-4 rounded">START FREE TRIAL</button>
          <div class="mt-4">
            <a href="#" class="text-sm underline">Send a Gift Card</a>
          </div>
        </div>
      </div>
</section>
<app-footer></app-footer>