<app-header></app-header>
<h2>{{ videos.title }}</h2>
<button
  class="py-2 px-4 w-full mb-8 border border-black text-black rounded-md hover:bg-black hover:text-white"
  (click)="deleteVideo()"
>
  Delete Video
</button>
<div style="position: relative; padding-top: 56.25%">
  <iframe
    [src]="link"
    loading="lazy"
    style="border: 0; position: absolute; top: 0; height: 100%; width: 100%"
    allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
    allowfullscreen="true"
  ></iframe>
</div>
<app-footer></app-footer>
