<app-header></app-header>
<app-page-title
  [pageTitle]="blog?.title"
  [pageDescription]="
    'Descubra los secretos del equilibrio entre alimentación y bienestar para una vida radiante.'
  "
  class="relative"
  [arrowBack]="true"
></app-page-title>
<section>
  @if(blog) {
  <!-- <div>
    <h2>{{ blog.title }}</h2>
    <img [src]="'../../../../assets/images/yoga.jpg'" [alt]="blog.title" />
    <p>{{ blog.description }}</p>
  </div> -->
  <div class="flex flex-col md:flex-row bg-white p-6 mx-10 rounded-lg montserrat-normal">
    <div class="md:w-1/2 pr-6">
      <h2 class="text-2xl font-bold mb-4">DESCRIPTION</h2>
      <p class="mb-4">
        Awakening the Heart is a 14-day meditation journey that will support a deeper
        connection to yourself, others, and the world around you. These heart-centered
        meditations are designed for those interested in exploring the beauty that meditation
        can bring into daily life, as well as those seeking balance, warmth, and perspective in
        their practice.
      </p>
      <p class="mb-4">
        These meditations cover topics such as self-acceptance, inspiration, and
        kindness — qualities we already have that require gentle guidance to uncover more
        deeply. Follow along for the full 14-day journey, or take whatever class resonates with
        you for the day. As you reconnect with your heart, you'll walk away with a renewed
        sense of appreciation for yourself that expands outward to everyone and everything
        around you.
      </p>
      <p class="font-bold mb-2">In this meditation series, you will:</p>
      <ul class="list-disc list-inside mb-4">
        <li>Access 14 heart-centered meditations that inspire kindness, love, and acceptance</li>
        <li>Reconnect to the beauty of your personal meditation practice</li>
        <li>Open your mind beyond your personal experience and discover a more thoughtful</li>
      </ul>
      <button class="bg-blue-500 text-white px-4 py-2 rounded">READ MORE</button>
    </div>
    <div class="md:w-1/2 mt-6 md:mt-0">

        <img [src]="'../../../../assets/images/yoga1.jpg'" [alt]="blog.title" />

    </div>
  </div>
  } @if(!blog) {
  <div>
    <p>No blog found with that Id</p>
  </div>
  }
</section>
<app-footer></app-footer>
