<!-- start-moving.component.html -->
<div class="">
  <div class="" data-aos="fade-up" data-aos-duration="1000">
    @for(category of collectionList; track $index) {
    <div
      class="p-4 md:p-8 relative h-[50rem] rounded-3xl flex flex-col justify-center overflow-hidden"
      [ngClass]="$index % 2 !== 0 ? 'bg-white' : 'bg-bone'"
    >
      <img
        class="absolute h-[110%]"
        [ngClass]="$index % 2 !== 0 ? 'hidden' : 'right-[10%]'"
        [src]="'../../../../assets/svg/llline (1).svg'"
        alt=""
      />
      <div class="container mx-auto z-50">
        <p class="text-blue font-bold uppercase text-sm mb-2">
          {{ category.name }}
        </p>
        <h1 class="text-4xl font-bold text-lime-900 mb-2">Poses</h1>
        <p class="text-lime-700 mb-8 max-w-md">
          There are many yoga poses, each with its own physical, mental and
          emotional benefits.
        </p>
      </div>
      <app-banner
        [title]="category.name"
        [category]="category"
        (onSingleCollection)="onSingleCollection($event)"
        [index]="$index"
      ></app-banner>
    </div>
    }
  </div>
</div>
