<header
  class="hidden bg-white bg-gray-800 text-black text-black p-4 lg:flex justify-between items-center w-full sticky top-0 z-40"
  style="
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px,
      rgba(35, 41, 54, 0.08) 0px 8px 16px;
  "
>
  <div class="">
    <img
      src="../../../assets/images/logo.png"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
      (click)="onHome()"
    />
  </div>
  <nav>
    <ul
      class="flex anton items-center uppercase pointer text-lg cursor-pointer"
    >
      <li class="mr-10">
        <a (click)="onHome()" class="hover:text-gray-400">Home</a>
      </li>
      <li class="mr-10">
        <a (click)="onMenu()" class="hover:text-gray-400">Menu</a>
      </li>
      <!-- <button (click)="onContact()" class="uppercase bg-bone rounded-full w-[170px] h-[70px] text-pinkMain">Contact us</button> -->
    </ul>
  </nav>
</header>

<!-- @if (!isOpen) { -->
<header
  class="lg:hidden text-white bg-white p-4 flex justify-between items-center w-full sticky top-0 z-40"
  style="
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px,
      rgba(35, 41, 54, 0.08) 0px 8px 16px;
  "
>
  <div class="flex items-center justify-between w-full">
    <div class="logo">
      <img
        src="../../../assets/images/logo.png"
        alt="Logo"
        class="max-h-20 cursor-pointer rounded-lg"
        (click)="onHome()"
      />
    </div>
    <button class="lg:hidden text-black focus:outline-none" (click)="toggle()">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        ></path>
      </svg>
    </button>
  </div>
</header>
<!-- } -->

<section
  class="fixed top-0 left-0 w-full h-full montserrat-normal bg-black text-white z-50"
  [@menuAnimation]="isOpen ? 'open' : 'closed'"
>
  <button class="lg:hidden text-white focus:outline-none absolute top-[3%] right-[5%]" (click)="toggle()">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <div class="container mx-auto px-4 mt-16">
    @if(userConnected) {
      <ul class="space-y-4 text-lg font-semibold">
        <li class="mb-5">YOGA</li>
        <li class="ml-2">CLASES</li>
        <li class="ml-2">INSTRUCTORES</li>
        <li class="ml-2">NOSOTROS</li>
        <li class="border-t border-gray-700 pt-4 my-8"></li>
        <li class="mb-5">NOVEDADES</li>
        <li class="ml-2">NEWS</li>
        <li class="ml-2">BLOG</li>
        <li class="border-t border-gray-700 pt-4 my-8"></li>
        <li class="" (click)="onLogout()">LOGOUT</li>
        <li class="" (click)="onContact()">CONTACTANOS</li>
      </ul>
    }
    @if(!userConnected) {
      <ul class="space-y-4 text-lg font-semibold">
        <li class="mb-5">YOGA</li>
        <li class="ml-2">CLASES</li>
        <li class="ml-2">INSTRUCTORES</li>
        <li class="ml-2">NOSOTROS</li>
        <li class="border-t border-gray-700 pt-4 my-8"></li>
        <li class="mb-5">NOVEDADES</li>
        <li class="ml-2">NEWS</li>
        <li class="ml-2">BLOG</li>
        <li class="border-t border-gray-700 pt-4 my-8"></li>
        <li class="" (click)="onSignIn()">SIGN IN</li>
        <li class="" (click)="onSignUp()">TRY FOR FREE</li>
        <li class="" (click)="onContact()">CONTACTANOS</li>
      </ul>
    }
  </div>
</section>
