<app-header></app-header>
<section>
  <app-page-title [pageTitle]="'BLOG'"></app-page-title>
  <div class="mx-auto w-11/12">
    @for(category of categories; track category) {
    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4 uppercase">{{ category.name }}</h2>
      <div class="flex overflow-x-auto no-scrollbar h-[300px]">
        @for(blogIds of category.blogs; track blogIds) {
        @for(blog of blogs; track blog) { @if(blog._id === blogIds) {
        <div
          class="bg-white rounded-lg shadow-md flex-none w-60 mr-4 pb-2 h-[280px] "
          (click)="onNavigateToBlog(blog._id)"
        >
          <img
            [src]="'../../../../assets/images/yoga.jpg'"
            [alt]="blog.title"
            class="mb-2 object-cover rounded-t-lg"
          />
          <h4>{{ blog.title }}</h4>
          <p>{{ blog.description.slice(0, 20) }} ...</p>
        </div>
        } } }
      </div>
    </div>
    }
  </div>
</section>
<app-footer></app-footer>
