<app-header></app-header>
<div class="bg-white">
  <app-page-title [pageTitle]="'instructores'"></app-page-title>
  <div class="flex justify-between">
    <app-instructor-filter></app-instructor-filter>
  </div>

  <div class="mt-4 flex flex-col items-center justify-center">
    @for (instructor of instructors; track $index) {
    <div class=" my-5 rounded-lg w-11/12 shadow-md cursor-pointer relative" (click)="onInstructor(instructor._id)">
      <div class="">
        <img
          [src]="'../../../../assets/images/yoga.jpg'"
          [alt]="instructor.name"
          class="w-full rounded-t-lg object-cover h-[166px]"
        />
      </div>
      <div class="pl-4">
        <img
          [src]="'../../../../assets/images/yoga.jpg'"
          [alt]="instructor.name"
          class="rounded-full w-16 h-16 mb-2 absolute border-2 border-white top-[37%]"
        />
        <h2 class="text-2xl font-bold mt-10 montserrat-bold uppercase">{{ instructor.firstname + ' ' + instructor.lastname }}</h2>
        <p class="text-gray-600 mb-5 montserrat-normal">{{instructor.description.slice(0, 100)}} ...</p>
      </div>
    </div>
    }
  </div>
</div>
<app-footer></app-footer>