<app-header></app-header>
<app-page-title
  [pageDescription]="instructor.title"
  [arrowBack]="true"
  [pageTitle]="instructor.firstname + ' ' + instructor.lastname"
></app-page-title>
<div
  class="flex flex-col md:flex-row bg-white p-6 mx-10 rounded-lg montserrat-normal"
>
  <div class="md:w-1/2 pr-6">
    <h2 class="text-2xl font-bold mb-4 uppercase">
      Sobre {{ instructor.firstname }}
    </h2>
    <p class="mb-4">
      Awakening the Heart is a 14-day meditation journey that will support a
      deeper connection to yourself, others, and the world around you. These
      heart-centered meditations are designed for those interested in exploring
      the beauty that meditation can bring into daily life, as well as those
      seeking balance, warmth, and perspective in their practice.
    </p>
    <p class="mb-4">
      With over 10 years of experience building teacher trainings, online
      content, festivals, and retreats, Briohny Smyth enjoys serving the global
      wellness community. Her dedication to yoga as a practice shines through in
      her signature classes, which blend an invigorating flow with eye-opening
      alignment instruction. From foundational basics on the architecture of
      asanas and blending strength and flexibility to advanced clinics on strong
      inversions, Briohny loves helping practitioners discover the range of
      their abilities. Briohny also enjoys interacting with the online community
      through all platforms to connect with yogis and assess student needs. Her
      dedicated following is a direct reflection of her understanding of the
      journey, as well as the care with which she dynamically adapts new content
      to naturally evolve student growth.
    </p>
    <button class="bg-blue-500 text-white px-4 py-2 rounded">READ MORE</button>
  </div>
  <div class="md:w-1/2 mt-6 md:mt-0">
    <img
      [src]="'../../../../assets/images/yoga1.jpg'"
      [alt]="instructor.title"
    />
  </div>
</div>

<app-page-title
  [pageTitle]="'Clases de ' + instructor.firstname"
></app-page-title>
<section class="container mx-auto px-4 py-8 montserrat-normal">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    @for(video of videos; track videos) {

    <div
      class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer"
      (click)="onWatchSingleClass(video.video.guid)"
    >
      <img
        [src]="video.safeThumbnail.changingThisBreaksApplicationSecurity"
        [alt]="video.safeThumbnail.changingThisBreaksApplicationSecurity"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <div class="flex items-center text-sm text-blue mb-2">
          <span>Esencial360</span>
          <span class="mx-2">•</span>
        </div>
        <h3 class="text-xl text-strongBrown font-semibold mb-2 capitalize">
          {{ video.video.title }}
        </h3>
        <p class="text-strongBrown mb-4">
          Breathing plays an essential role in our well-being. Follow the advice
          of Dr. Marie
        </p>
        <div class="flex items-center justify-between">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
    </div>
    }
  </div>
</section>
<app-footer></app-footer>
