<footer class="bg-gray-800 py-8">
    <div class="w-full mx-auto flex flex-col flex-wrap items-center">
      <nav class="mb-4">
        <ul class="flex space-x-4 flex-wrap text-black">
          <li><a href="#" class="">FAQ</a></li>
          <li><a href="#" class="">CONTACT US</a></li>
          <li><a href="#" class="">REFER</a></li>
          <li><a href="#" class="">GIFT CARDS</a></li>
          <li><a href="#" class="">BLOG</a></li>
          <li><a href="#" class="">CAREERS</a></li>
          <li><a href="#" class="">ALO YOGA</a></li>
        </ul>
      </nav>
      <div class="text-center mb-4">
        <!-- <a href="#" class="text-gray-400">alo<span class="text-white">moves</span></a> -->
        <p class="text-gray-400">Download the Alo Moves app to take classes offline and practice anytime, anywhere.</p>
      </div>
      <a href="#" class="mb-4">
        <button class="bg-black text-white py-2 px-4 rounded">START FREE TRIAL</button>>
      </a>
      <p class="text-gray-400 text-sm">&copy; 2024 Alo Moves. All Rights Reserved.</p>
      <div class="text-gray-400 text-sm">
        <a href="#" class="mr-2">Terms</a>
        <a href="#" class="mr-2">Privacy</a>
        <a href="#">Cookies</a>
      </div>
    </div>
  </footer>