<footer class="bg-gray-800 py-8">
    <div class="w-full mx-auto flex flex-col flex-wrap items-center">
      <nav class="mb-4">
        <ul class="flex space-x-4 flex-wrap text-black">
          <li><a href="#" class="">FAQ</a></li>
          <li><a href="#" class="">CONTACT US</a></li>
          <li><a href="#" class="">BLOG</a></li>
          <li><a href="#" class="">BECOME A INSTRUCTOR</a></li>
        </ul>
      </nav>
      <div class="text-center mb-4">
        <p class="text-gray-400">Become a member and practice anytime, anywhere.</p>
      </div>
      <a href="#" class="mb-4">
        <button class="bg-black text-white py-2 px-4 rounded">START FREE TRIAL</button>
      </a>
      <p class="text-gray-400 text-sm">&copy; 2024 Yoga. All Rights Reserved.</p>
      <div class="text-gray-400 text-sm">
        <a href="#" class="mr-2 underline">Terms</a>
        <a href="#" class="mr-2 underline">Privacy</a>
        <a href="#" class="underline">Cookies</a>
      </div>
    </div>
  </footer>