<!-- <footer class="bg-gray-800 py-8">
    <div class="w-full mx-auto flex flex-col flex-wrap items-center">
      <nav class="mb-4">
        <ul class="flex space-x-4 flex-wrap text-black">
          <li><a href="#" class="">FAQ</a></li>
          <li (click)="onContact()">CONTACT US</li>
          <li><a href="#" class="">BLOG</a></li>
          <li (click)="onBecomeInstructor()">BECOME A INSTRUCTOR</li>
        </ul>
      </nav>
      <div class="text-center mb-4">
        <p class="text-gray-400">Become a member and practice anytime, anywhere.</p>
      </div>
      <a href="#" class="mb-4">
        <button class="bg-black text-white py-2 px-4 rounded">START FREE TRIAL</button>
      </a>
      <p class="text-gray-400 text-sm">&copy; 2024 Yoga. All Rights Reserved.</p>
      <div class="text-gray-400 text-sm">
        <a href="#" class="mr-2 underline">Terms</a>
        <a href="#" class="mr-2 underline">Privacy</a>
        <a href="#" class="underline">Cookies</a>
      </div>
    </div>
  </footer> -->

<footer class="bg-lightBrown
 text-strongBrown py-6 mt-8">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex justify-center items-center">
      <img
        src="../../../assets/images/logo.png"
        alt="Logo"
        class="max-h-20 cursor-pointer rounded-lg"
      />
      <h3 class="text-white">esencial<span class="text-blue">360</span></h3>
    </div>
    <nav>
      <ul class="flex space-x-6">
        <li><a href="#">Yoga & Nutrition</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="text-sm">© 2024 esencial360</div>
  </div>
</footer>
